/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

body {
  color: white;
  background-color: #303030;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
}

i.material-icons {
  font-size: 1rem;
  margin-top: -2px;
}

a {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}