@import '../../../assets/scss/variables.scss';

$toggleHeight: 5rem;
$timelinePadding: 0px 2rem;

.main {
  height: 100vh;
  width: 100vw;

  &_submenu {
    height: 100vh;
    width: 300px;
    display: flex;
    flex-direction: column;

    &_groups {
      flex: auto;
      overflow: auto;
      padding: 0px 1rem;
    }

    &_userinfo {
      flex: none;
      padding: 1rem 1rem;
      border-top: solid 1px $borderColor;
      display: flex;
      overflow: hidden;

      &_picture {
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        flex: none;
      }

      &_texts {
        margin-left: 0.5rem;
        overflow: hidden;
        flex: auto;
        min-height: 2rem + $fontSize;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &_name,
        &_email {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        &_email {
          color: $fontCaptionColor;
          font-size: $fontCaptionSize;
        }

        &_logout {
          text-align: right;
          font-size: $fontCaptionSize;
        }
      }
    }
  }

  &_timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;

    &_toggle {
      position: sticky;
      width: 1rem;
      height: $toggleHeight;
      top: 0.5rem;
      left: -1px;
      border: solid 1px $borderColor;
      background-color: #424242;
      cursor: pointer;
      flex: none;
    }

    &_messages {
      margin-top: $toggleHeight * -1;
      padding: $timelinePadding;
      flex: auto;
      overflow: auto;
    }

    &_form {
      padding: $timelinePadding;
      margin-top: 1rem;
      flex: none;
      display: flex;
      align-items: center;

      &_field {
        flex: auto;

        &_input {
        }
      }

      &_button {
        flex: none;
        margin-left: 1rem;
      }
    }
  }
}