<mat-drawer-container class="main" autosize>
  <mat-drawer #drawer class="main_submenu" mode="side" [opened]='shouldShowMenu'>
    <p>Auto-resizing sidenav</p>
    <p *ngIf="shouldShowMenu">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="shouldShowMenu = !shouldShowMenu" mat-raised-button>
      Toggle extra text
    </button>

    <div>
      <img *ngIf='loginUser?.picture' [src]='loginUser?.picture' style='width: 1rem; height: 1rem; border-radius: 50%;'>
      {{ loginUser?.name }}
    </div>
    <button mat-raised-button (click)='onLogoutButtonClick($event)'>Logout</button>
  </mat-drawer>

  <div class="main_timeline">
    <div class='main_timeline_toggle' (click)="shouldShowMenu = !shouldShowMenu"></div>

    <div class='main_timeline_messages'>
      hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>
    </div>

    <div class='main_timeline_form'>
      <input type='text' class='main_timeline_form_input' />
      <button mat-raised-button class='main_timeline_form_button'>投稿</button>
    </div>
  </div>
</mat-drawer-container>