<mat-drawer-container class='main' autosize [@appear]>
  <mat-drawer #drawer mode='side' [opened]='shouldShowMenu'>
    <div class='main_submenu'>
      <!-- 作成済みグループ一覧 -->
      <div class='main_submenu_groups'>
        <app-groups [user]='loginUser' (onChange)='onGroupSelected($event)'></app-groups>
      </div>

      <!-- ユーザ情報 -->
      <div class='main_submenu_userinfo'>
        <!-- TODO: ユーザ情報のバインド -->
        <app-login-user-profile></app-login-user-profile>
      </div>
    </div>
  </mat-drawer>

  <div class='main_timeline'>
    <div class='main_timeline_toggle' (click)='shouldShowMenu = !shouldShowMenu'></div>

    <!-- 投稿済みメッセージ一覧 -->
    <div class='main_timeline_messages' #timelineMessages>
      <app-timeline [user]='loginUser' [group]='selectedGroup'
        (onInit)='onTimelineInit()' (onLoad)='onTimelineLoad()'>
      </app-timeline>
    </div>

    <!-- メッセージ入力欄 -->
    <div class='main_timeline_form'>
      <app-message-input [user]='loginUser' [group]='selectedGroup' (onPost)='onMessagePost($event)'></app-message-input>
    </div>
  </div>
</mat-drawer-container>