<mat-drawer-container class="main" autosize>
  <mat-drawer #drawer class="main_submenu" mode="side" [opened]='shouldShowMenu'>
    <p>Auto-resizing sidenav</p>
    <p *ngIf="shouldShowMenu">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="shouldShowMenu = !shouldShowMenu" mat-raised-button>
      Toggle extra text
    </button>

    <a routerLink='/login'>move to login</a>
  </mat-drawer>

  <div class="main_timeline">
    <div class='main_timeline_toggle' (click)="shouldShowMenu = !shouldShowMenu"></div>

    <div class='main_timeline_messages'>
      <div *ngFor='let userData of getArray(userDataMap?.values())'>
        <img [src]='userData.picture' style='width: 1rem; height: 1rem; border-radius: 50%;'>
        {{ userData.name }}
      </div>
      hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>hoge<br>
    </div>

    <div class='main_timeline_form'>
      <input type='text' class='main_timeline_form_input' />
      <button mat-raised-button class='main_timeline_form_button'>投稿</button>
    </div>
  </div>
</mat-drawer-container>