<div class='timeline' #timeline>
  <ng-container *ngIf='isLoading; else loadedBlock'>
    <mat-spinner class='timeline_progress'></mat-spinner>
  </ng-container>

  <ng-template #loadedBlock>
    <div class='timeline_messages'>
      <app-message-cell *ngFor='let message of messageDataList'
        [user]='user' [message]='message' class='timeline_messages_cell'>
      </app-message-cell>
    </div>

    <div *ngIf='messageDataMap.size < 1' class='timeline_empty' [@appear]>
      <!-- TODO: 多言語対応 -->
      メッセージがありません。
    </div>
  </ng-template>
</div>