@import '../../../assets/scss/variables.scss';

.timeline {
  &_progress {
    margin: 2rem auto;
  }

  &_messages {
    &_cell {
      display: block;
      padding: 1rem 2rem;

      &:hover {
        background-color: rgba(255, 255, 255, 0.04);
      }
    }
  }

  &_empty {
    color: $fontCaptionColor;
    text-align: center;
    margin: 2rem;
  }
}