@import '../../../assets/scss/variables.scss';

.timeline {
  &_progress {
    margin: 2rem auto;
  }

  &_message {
    display: block;
    padding: 1rem 2rem;

    &:hover {
      background-color: rgba(255, 255, 255, 0.04);
    }
  }

  &_empty {
    color: $fontCaptionColor;
  }
}