<div class='message' [@appear]>
  <div>
    <img [src]='message?.createdBy?.picture || message?.createdByPicture || dummyImagePath' class='message_picture'>
  </div>

  <div class='message_texts'>
    <div class='message_texts_metadata'>
      <div class='message_texts_metadata_name'>
        {{ message?.createdBy?.name || message?.createdByName }}
      </div>

      <div class='message_texts_metadata_email'>
        {{ message?.createdBy?.email || message?.createdByEmail }}
      </div>

      <div class='message_texts_metadata_date' *ngIf='0 < message?.createdAt?.seconds'>
        {{ (message?.createdAt?.seconds * 1000) | date:'MM/dd HH:mm' }}
      </div>
    </div>
    <div class='message_texts_body'>
      {{ message?.text }}
    </div>
  </div>
</div>