<div class='login' [@appear]>
  <div class='login_contents'>
    <div *ngIf='hasError' class='login_contents_message error'
      [innerHTML]='"@Login.loginErrorMessage" | translate'>
    </div>

    <button class='login_contents_button' mat-raised-button (click)='onLoginButtonClick($event)'>
      {{ '@Login.loginByGoogle' | translate:param }}
    </button>

    <mat-radio-group class='login_contents_i18n' [(ngModel)]='selectedLang' (change)='onLangRadioChange($event)'>
      <mat-radio-button *ngFor='let lang of supportedLangs' [value]='lang.code'
        [class]='"login_contents_i18n_lang " + lang.code'>
        {{ lang.label }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
</div>