@import '../../../assets/scss/variables.scss';

.user {
  display: flex;
  overflow: hidden;

  &_picture {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    flex: none;
  }

  &_texts {
    margin-left: 1rem;
    overflow: hidden;
    flex: auto;
    min-height: 2rem + $fontSize;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &_name,
    &_email {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &_email {
      color: $fontCaptionColor;
      font-size: $fontCaptionSize;
    }

    &_logout {
      text-align: right;
      font-size: $fontCaptionSize;
    }
  }
}