@import '../../../assets/scss/variables.scss';

.user {
  display: flex;
  overflow: hidden;

  // TODO: アイコン

  &_texts {
    margin-left: 1rem;
    overflow: hidden;
    flex: auto;
    min-height: 2rem + $fontSize;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    // TODO: ユーザ名・メールアドレス

    &_logout {
      text-align: right;
      font-size: $fontCaptionSize;
    }
  }
}