<div class='form'>
  <mat-form-field class='form_field'>
    <input matInput [placeholder]='"@MessageInput.message" | translate' [formControl]='control'
      (keydown.enter)='onEnterKeydown($event)' (keyup.enter)='onEnterKeyup($event)' (blur)='onInputBlur($event)'
      class='form_field_input'>
  </mat-form-field>
  <button mat-button class='form_button'
    [disabled]='(!control.valid) || isProcessing' (click)='onSubmitButtonClick($event)'>
    {{ '@MessageInput.post' | translate:param }}
  </button>
</div>