@import '../../../assets/scss/variables.scss';

.groups {
  &_progress {
    margin: 2rem auto;
  }

  &_selection {
    &_list {
      &.selected {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }

  &_button {
    width: 100%;
    border-radius: 0px;
    color: $fontCaptionColor;
  }
}

:host /deep/ .groups {
  .mat-pseudo-checkbox {
    display: none;
  }

  &_button.cdk-focused.cdk-program-focused {
    .mat-button-focus-overlay {
      display: none;
    }
  }
}

.dialog {
  &_content {
    &_form {
      width: 100%;
    }
  }

  &_actions {
    display: flex;
    justify-content: space-around;
  }
}