<div class='dialog'>
  <h1 mat-dialog-title class='dialog_title'>
    <!-- TODO: 多言語対応 -->
    グループの新規作成
  </h1>

  <div mat-dialog-content class='dialog_content'>
    <p>
      <!-- TODO: 多言語対応 -->
      グループ名を入力してください。
    </p>
    <mat-form-field class='dialog_content_form'>
      <!-- TODO: 入力必須・文字数制限の実装 -->
      <input matInput class='dialog_content_form_input'>
    </mat-form-field>
  </div>

  <div mat-dialog-actions class='dialog_actions'>
    <!-- TODO: キャンセル・作成ボタンの実装 -->
  </div>
</div>
