<div class='dialog'>
  <h1 mat-dialog-title class='dialog_title'>
    {{ '@GroupsRegisterDialog.registerGroup' | translate:param }}
  </h1>

  <div mat-dialog-content class='dialog_content'>
    <p>
      {{ '@GroupsRegisterDialog.inputGroupName' | translate:param }}
    </p>
    <mat-form-field class='dialog_content_form'>
      <!-- TODO: 入力必須・文字数制限の実装 -->
      <input matInput class='dialog_content_form_input'>
    </mat-form-field>
  </div>

  <div mat-dialog-actions class='dialog_actions'>
    <!-- TODO: キャンセル・作成ボタンの実装 -->
  </div>
</div>
