<div class='groups'>
  <!-- ロード中の表示 -->
  <ng-container *ngIf='isLoading; else loadedBlock'>
    <mat-spinner class='groups_progress'></mat-spinner>
  </ng-container>

  <!-- ロード完了後の表示 -->
  <ng-template #loadedBlock>
    <!-- グループ一覧 -->
    <mat-selection-list class='groups_selection'>
      <mat-list-option *ngFor='let group of getArray(groupDataMap?.values()); let idx = index'
        class='groups_selection_list' (click)='onGroupListClick($event, group, idx)'
        [class.selected]='idx == selectedIndex' [@appear]>
        {{ group.name }}
      </mat-list-option>
    </mat-selection-list>

    <!-- グループ新規作成ボタン -->
    <button mat-button class='groups_button' (click)='onRegisterButtonClick($event)' [@appear]>
      <mat-icon>add</mat-icon>
    </button>
  </ng-template>
</div>